{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 py-3">
    <div class="row mt-5 pt-5">
        <div class="col-2 col-sm-3 col-md-3"></div>
        <div class="newsletter col-8 col-sm-6 col-md-6 py-3">
            <div class="card">
                <div class="card-body">
                    <p>Maybe put some images up here for prettiness sake?</p>
                    <h4 class="newslettertitle"> Get latest offers direct to your inbox!</h4>
                    <hr>
                    <form action="#" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="Subscribe" class="btn-black">
                    </form>
                    
                </div>
            </div>
        </div>
        <div class="col-2 col-sm-3 col-md-3"></div>
    </div>
    {% if request.user.is_superuser %}
    <div class="row col-6 mx-auto">
            <button class="btn btn-black"><a href="{% url 'MailMessage' %}" class="mx-auto btn-black">Write Newsletter</a></button>
    </div>
    {% endif %}
</div>

{% endblock %}