{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
      <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container bannerlogo h-100">
    <div class="row h-100">
      <div class="col-12 col-md-4">
        <p class="page-text">srthdfghndftg</p>
      </div>
        <div class="col-12 col-md-4 offset-md-10">
                <h4><a href="{% url 'products' %}" class="btn-black btn-ls rounded-0 text-uppercase py-3 px-4">Clicky</a></h4>
            </div>
        </div>
    </div>

<div class="mainwrapper mx-auto">
  
<div class="container">
<div class="row my-3 indexintros justify-content-evenly">
    <div class="col-12 col-md-4 align-items-center" id="indexwho"></div>
    <div class="col-12 col-md-4 px-2 text-wrap align-items-center page-text">Test for what we do and who we are sthedjhrdtyjj dygjdtrfyjrfjf
         djrfhjmrfj yhjrkjryujkr rtyj rfytj rftgyhj r fgyhj 
         djjjrjrjrty tjyhrfdyhjdrfj rtyj 
    </div>
</div>
<div class="row indexintros justify-content-evenly my-3">
    <div class="col-12 col-md-4 text-wrap align-items-center page-text">Text for handpicked stuff and stuff and things and liughlkehngkedrtnh drtyhjrdty jjdrtjne</div>
    <div class="col-12 col-md-4 align-items-center" id="indexhandpicked"></div>
</div>
</div>
  
<div class="container text-center mx-auto">
    <div class="row mx-auto">
      <div class="col testimonial text-center">
        <div class="col mx-auto" id="testimonialimage1"></div>
        Tea testimonial - cards no background colours
      </div>
      <div class="col testimonial text-center">
        <div class="col mx-auto" id="testimonialimage2"></div>
        Cake and cookie testimonial
      </div>
      <div class="col testimonial text-center">
        <div class="col mx-auto" id="testimonialimage3"></div>
        Gifts and Hampers testimonial
      </div>
    </div>
  </div>


      </div>




{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}