{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
      <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container bannerlogo h-100">
    <div class="row h-100">
      <div class="col-12 col-md-4 heading-text">
        <p class="page-text">Tea is not merely a beverage but a way of life. </p>
          <p class="secondary-page-text">A sanctuary that provides warmth, serenity, and a profound connection to oneself and the world.</p>
      </div>
        <div class="clickformore col-12 col-md-4 offset-md-4">
                <h4><a href="{% url 'products' %}" class="btn-black btn-ls rounded clickerbtn text-uppercase py-3 px-4">Clicky</a></h4>
            </div>
        </div>
    </div>

<div class="mainwrapper mx-auto">
  
<div class="container">
<div class="row my-3 indexintros justify-content-evenly">
    <div class="col-12 col-md-4 align-items-center rounded" id="indexwho"></div>
    <div class="col-12 col-md-4 px-2 text-wrap align-items-center">
      <p class="page-handpicked-text pt-3">
        Welcome to our charming world, where the enchanting aroma of freshly brewed tea mingles with the irresistible allure of delectable cakes. We are thrilled to introduce you to our company, a haven of all things cozy, nostalgic, and utterly delightful—a place where cottage-style tea and cakes reign supreme.<br>
        Step into a realm where time slows down and the worries of the world fade away. Our company is dedicated to capturing the essence of the quaint countryside, where rustic cottages, blooming gardens, and the joy of simple pleasures come together in perfect harmony. 
      </p> 
    </div>
</div>
<hr>
<div class="row indexintros justify-content-evenly my-1">
    <div class="col-12 col-md-4 text-wrap align-items-center">
      <p class="page-handpicked-text">
       Our hand-picked tea is a true embodiment of artistry, passion, and devotion. It is a testament to the timeless traditions of tea cultivation and the remarkable skill of those who curate these precious leaves.<br>
       The quality and purity of hand-picked tea is second to none. Free from the mechanical harvesters and mass production, it embodies a level of excellence that can only be achieved through meticulous care and attention. Each leaf is chosen for its ideal maturity, ensuring optimal flavor and character.
      </p>
    </div>
    <div class="col-12 col-md-4 align-items-center rounded" id="indexhandpicked"></div>
</div>
</div>
  <hr>
<div class="container text-center mx-auto">
    <div class="row mx-auto">
      <div class="col testimonial text-center">
        <div class="col mx-auto mb-3" id="testimonialimage1"></div>
        <p class="testimonial-text"><small>"Beyond its mesmerizing taste, Cottage Delights tea possesses a remarkable ability to soothe my weary soul. In the midst of a chaotic day, a simple pause with a steaming cup of tea grants me respite from the outside world." - <em>Jimmy Jo</em> 
      </small></p>
    </div>
      <div class="col testimonial text-center">
        <div class="col mx-auto mb-3" id="testimonialimage2"></div>
        <p class="testimonial-text"><small>"To the masterful bakers behind these edible works of art, I raise my fork in appreciation and gratitude. Thank you for gracing our lives with cakes that are truly a taste of heaven." - <em>Billy Bob</em></small></p>
      </div>
      <div class="col testimonial text-center">
        <div class="col mx-auto mb-3" id="testimonialimage3"></div>
        <p class="testimonial-text"><small>
          "I simply adore the teacups and teapots on offer at Cottage Delights. With each pour, I am reminded of the meditative dance of water and leaves, a symphony of flavors and aromas that envelops my senses and transports me to a world of pure bliss." - <em>Timmy Tea</em>
        </small></p>
      </div>
    </div>
  </div>


      </div>




{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}