core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
*.sqlite3
*.pyc

STUFF TO ADD TO CONFIG VARS: THIS ALSO SHOULD GO IN GITPOD ENV
EMAIL_HOST_PASS = ieezzongcrpwyabn
EMAIL_HOST_USER = digitamori@gmail.com

settings.py: REMOVE EMAIL BACKEND AND PUT BELOW

if 'DEVELOPMENT' in os.environ:
    EMAIL_BACKEND = ''
    DEFAULT_FROM_EMAIL = 'cottagedelights@example.com'
else:
    EMAIL_BACKEND = SAME AS BEFORE BUT REPLACE CONSOLE WITH SMTP
    EMAIL_USE_TLS = True
    EMAIL_PORT = 587
    EMAIL_HOST = 'smpt.gmail.com'
    EMAIL_HOST_USER = os.environ.get('EMAIL_HOST_USER')
    EMAIL_HOST_PASSWORD = os.environ.get('EMAIL_HOST_PASSWORD')
    DEFAULT_FROM_EMAIL = os.environ.get('EMAIL_HOST_USER')

