html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    width: 100%;
    background-image: url('/media/elaine-howlin-FEpNmWh1fMc-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(247, 235, 235);
    height: calc(76vh - 164px);
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
}

.header-container {
    padding-top: 164px;
    width: 100%;
}

header.header-bg {
    background-color: antiquewhite;
}

.quant-form {
    padding-left: 40px;
}

.imgcontainer {
padding-left: 90px;
}

button.wishicon {
    border: none;
    background-color: transparent;
    color: rgb(99, 87, 100);
}

.toast-body {
    z-index: 999999;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

div.mainwrapper {
    width: 100%;
    background-color: antiquewhite;
}

div.bannerlogo {
    width: 100%;
}

h2.logo-font {
    font-family: 'Dancing Script', serif;
    font-weight: 700;
    font-size: 3em;
}

a.nav-link {
    font-family: 'Petrona', serif;
    font-weight: 700;
}

.page-text {
    font-family: 'Arbutus Slab', serif;
    font-weight: 400;
}

p.page-text {
    margin-top: 60px;
    margin-bottom: 1rem;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-black {
background: rgb(99, 87, 100);
color: white;
}

div.free-shipping {
    z-index: 9000;
    font-family: 'Arbutus Slab', serif;
    font-weight: 400;
}

div#testimonialimage1 {
    background-image: url('/media/indeximagery.jpg');
    background-size: cover;
    background-color: brown;
    height: 200px;
    background-position-x: center;
    width: 200px;
    background-position-y: bottom;
    border-radius: 50%;
}

div#testimonialimage2 {
    background-image: url('/media/indeximagery.jpg');
    background-size: cover;
    background-color: brown;
    height: 200px;
    background-position-x: center;
    width: 200px;
    background-position-y: bottom;
    border-radius: 50%;
}

div#testimonialimage3 {
    background-image: url('/media/indeximagery.jpg');
    background-size: cover;
    background-color: brown;
    height: 200px;
    background-position-x: center;
    width: 200px;
    background-position-y: bottom;
    border-radius: 50%;
}


div.indexintros {
padding: 30px;
}

div#indexhandpicked {
    background-image: url('/media/handpicked.jpg');
    background-size: cover;
    background-color: brown;
    height: 300px;
    background-position-x: center;
    width: 400px;
    background-position-y: center;
}

div#indexwho {
    background-image: url('/media/indeximagery.jpg');
    background-size: cover;
    background-color: brown;
    height: 300px;
    background-position-x: center;
    width: 400px;
    background-position-y: bottom;
}

img.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

div.productcards {
    width: 20rem;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d; 
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}


/*----- Widgets ----*/
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    min-width: 100%;
    min-height: 100%;   
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 2px;
    border-color: red;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: red;
    border-color: red;
    border-radius: 2px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }
  
  /* pad the top a bit when navbar is collapsed on mobile */
  @media (max-width: 991px) {
      .header-container {
          padding-top: 116px;
      }
  
      body {
          height: calc(76vh - 116px);
      }
  }

@media (max-width: 768px) {
    div.product-container {
        margin-top: 130px;
    }
}


