<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="all-products">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Teas &amp; Specialities 
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="teas-specials">
                <a href="" class="dropdown-item">Loose Leaf Teas</a>
                <a href="" class="dropdown-item">Specialities</a>
                <a href="" class="dropdown-item">All Teas</a>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cookies &amp; Cakes
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="cookies-cakes">
                <a href="" class="dropdown-item">Cookies and Brownies</a>
                <a href="" class="dropdown-item">Cupcakes and Slices</a>
                <a href="" class="dropdown-item">All Cookies and Cakes</a>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hampers and Gifts 
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="hampers-gifts">
                <a href="" class="dropdown-item">Choose Your Own</a>
                <a href="" class="dropdown-item">Gifts</a>
                <a href="" class="dropdown-item">All Hampers and Gifts</a>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Discover 
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="sale-clearance">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Sale and Clearance</a>
            </ul>
        </li>
    </ul>
</div>