<nav class="navbar offcanvastop fixed-top d-lg-none d-sm-block">
  <div class="container-fluid">
    <a class="navbar-brand d-sm-block d-md-block d-lg-none" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-black" type="submit">Search</button>
        </form>

        <hr class="my-2">
        <ul class="navigation">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}

        <li class="nav-item mt-4">
          <a class="nav-link" aria-current="page" href="{% url 'addproducts' %}">Product Management</a>
        </li>
        </ul>
        {% endif %}
        <ul class="navbar-nav justify-content-end flex-grow-1">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'userprofile' %}">My Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'account_signup' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'account_login' %}">Login</a>
          </li>
          {% endif %}
          <li class="list-inline-item">
            <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-sm-block d-lg-none"
              href="{% url 'view_cart' %}">
              <div class="cartcontent">
                <div class="carticon"><i class="fas fa-shopping-bag fa-lg"></i></div>
                <p class="my-0 cart-total">
                  {% if grand_total %}
                  £{{ grand_total|floatformat:2 }}
                  {% else %}
                  £0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>

        <hr class="my-2">

        <!--Secondary nav here-->
        <ul class="navbar-nav w-auto mx-auto">
              <li><a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a></li>
              <li><a href="{% url 'products' %}?rating&direction=desc" class="dropdown-item ">By Rating</a></li>
              <li><a href="{% url 'products' %}" class="dropdown-item">All Products</a></li>
              </ul>

<hr class="my-2">
<ul class="navbar-nav w-auto mx-auto">
              <li><a href="{% url 'products' %}?category=loose_tea" class="dropdown-item">Loose Leaf Teas</a></li>
              <li><a href="{% url 'products' %}?category=special_teas" class="dropdown-item">Specialities</a></li>
              <li><a href="{% url 'products' %}?category=special_teas,loose_tea" class="dropdown-item">All Teas</a></li>
</ul>
              <hr class="my-2">
              <ul class="navbar-nav w-auto mx-auto">
              <li><a href="{% url 'products' %}?category=biscuits_cookies" class="dropdown-item">Cookies and
                  Brownies</a></li>
              <li><a href="{% url 'products' %}?category=cakes_brownies" class="dropdown-item">Cupcakes and Slices</a>
              </li>
              <li><a href="{% url 'products' %}?category=cakes_brownies,biscuits_cookies" class="dropdown-item">All
                  Cookies and Cakes</a></li>
</ul>
<ul class="navbar-nav w-auto mx-auto">
              <li><a href="{% url 'products' %}?category=hampers_gifts" class="dropdown-item">All Gifts</a>
              </li>
</ul>
<hr class="my-2">
<ul class="navbar-nav w-auto mx-auto">
              <li><a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a></li>
              <li><a href="{% url 'products' %}?category=sale" class="dropdown-item">Sale and Clearance</a></li>
              <li><a href="{% url 'NewsletterSub' %}" class="dropdown-item">Newsletter</a></li>
              <li><a href="{% url 'Contact_Form' %}" class="dropdown-item">Contact Us</a></li>
        </ul>
        <!-- Secondary nav end-->
      </div>
    </div>
  </div>
</nav>