<nav class="navbar bg-light fixed-top d-lg-none d-md-none d-sm-block">
    <div class="container-fluid">
      <a class="navbar-brand d-sm-block d-md-none d-lg-none" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
        <div class="offcanvas-header">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %} 
              <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'addproducts' %}">Product Management</a>
  </li>
  {% endif %}
          <ul class="navbar-nav justify-content-end flex-grow-1">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'userprofile' %}">My Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'wishlist' %}">Wishlist</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'account_signup' %}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'account_login' %}">Login</a>
              </li>
     {% endif %}
     <li class="list-inline-item">
      <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-sm-block d-lg-none" href="{% url 'view_cart' %}">
          <div class="text-center">
              <div><i class="fas fa-shopping-bag fa-lg"></i></div>
              <p class="my-0">
                  {% if grand_total %}
                      ${{ grand_total|floatformat:2 }}
                  {% else %}
                      $0.00
                  {% endif %}
              </p>
          </div>
      </a>
    </li>

          </ul>
        </div>
      </div>
    </div>
  </nav>
