{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid mt-2">
    <div class=" container-fluid row mt-2">
        <div class="imgcontainer col-sm-12 col-md-6 col-lg-4 me-0 mt-2">
            <div class="col-sm-12 w-100 image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage-min.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="detailcontainer col-sm-12 col-md-6 col-lg-4">
            <div class="productdetails-cont mb-4 mt-4 mt-md-5">
                <p class="mb-0">{{ product.name }}</p>
                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag me-1"></i>{{ product.category.friendly_name }}
                    </a>
                    {% endif %}
                    {% if product.rating %}
                    <span class="mx-2"><small class="text-muted"><i class="fas fa-star me-1"></i>{{ product.rating }} /
                            5</small></span>
                    {% else %}
                    <small class="text-muted">No Rating</small>
                    {% endif %}</p>
                <p class="mt-3">{{ product.description }}</p>
                <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                    <div class="row mt-3">
                        <div class="col md-6"><small>Ingredients: {{ product.ingredients }}</small></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col md-6">
                            <small>Weight: {{ product.weight }}</small>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col"><small>Storage: {{ product.storage }}</small>
                        </div>                
                    </div>
                {% if request.user.is_superuser %}
                <small class="ms-1">
                    <a href="{% url 'editproducts' product.id %}" class="editbutton btn">Edit</a>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn deletebutton modal-trigger btn-black"
                        data-bs-toggle="modal" data-bs-target="#modal-{{ product.id }}">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="modal-{{ product.id }}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="modal-{{ product.id }}"></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h4>CONTENT DELETION WARNING</h4>
                                    <p>Are you sure that you want to delete this entry?</p>
                                    <p>This cannot be undone</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel</button>
                                    <a href="{% url 'deleteproducts' product.id %}"
                                        class="btn deletebutton">DELETE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal end -->
                </small>
                {% endif %}
            </div>

        </div>
    </div>
</div>
<!-- Quantity number and Add to Cart -->
<div class="form-row quantitytitle">
    <div class="col-md-6">
        <p class="mt-3"><strong>Quantity:</strong></p>
    </div>
</div>
<div class="row mx-auto">
    <div class="quantcontainer col-md-6 col-lg-6 me-0 mx-auto mb-3">
        <form class="form col-md-4 quant-form me-1" action="{% url 'add_items' product.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group w-30">
                <div class="input-group input-group-{{ product.id }}">
                    <div class="input-group-prepend">
                        <button class="decrement-qty btn btn-black rounded-start decrement-qty_{{ product.id }}"
                            data-item_id="{{ product.id }}">
                            <span class="icon">
                                <i class="fas fa-minus"></i>
                            </span>
                        </button>
                    </div>
                    <input class="form-control qty_input id_qty_{{ product.id }}" type="number" name="quantity"
                        value="1" min="1" max="99" data-item_id="{{ product.id }}">
                    <div class="input-group-append">
                        <button class="increment-qty btn btn-black rounded-start increment-qty_{{ product.id }}"
                            data-item_id="{{ product.id }}">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ms-0 mt-3 addtocart">
        <input type="submit" class="btn btn-black rounded text-uppercase" value="Add to Cart">
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
    </div>
</form>
    </div>
</div>
<!-- Return to products link -->
<div class="row">
    <div class="col-12 col-md-6 mx-auto mt-2">
        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase me-3">Return to Products</span>
        </a>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantityscript.html' %}
{% endblock %}